<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aigc.vrmetal.mapper.DoctorMapper">
    <update id="reChange">
        update doctor
<set>
    <if test="doctorDto.age!=null">
        age=#{doctorDto.age},
    </if>
    <if test="doctorDto.sex !=null and doctorDto.sex!=''">
        sex=#{doctorDto.sex},
    </if>
    <if test="doctorDto.name !=null and doctorDto.name!=''">
        name=#{doctorDto.name},
    </if>
    <if test="doctorDto.phoneNum !=null">
        phone_num=#{doctorDto.phoneNum},
    </if>
    <if test="doctorDto.password !=null and doctorDto.password!=''">
        password=#{doctorDto.password},
    </if>
    <if test="doctorDto.patientNum !=null">
        patient_num=#{doctorDto.patientNum},
    </if>
</set>
<where>
    id=#{doctorDto.id}
</where>
    </update>
</mapper>
